<div class="column">
    <div class="card">
        <!-- <img src="/assets/images/organisers/goose_profile.jpg" width="196" height="213"> -->
      <img src="{{ imgsrc }}" alt="{{ include.name }}" style="width:100%">
      <div class="container">
        <h3>{{ include.name }}</h3>
        <p class="title">{{ include.nickname }}</p>
        <p>{{ include.biography }}</p>
        <p>{{ include.email }}</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>